html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 1vw;
  font-family: Arial, Helvetica, sans-serif;
  /* background: url(/img/bg-body.jpg) 0 0 repeat-y; */
  border: 0px solid black;

  background: url(../img/bg.jpg) 0 0 no-repeat;
  background-size: 100% 100%;

  overflow: hidden !important;
}
/* 
.page {
  width: 100%;
  padding-bottom: 56.25%;
  position: relative;
}
.page-holder {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  overflow: hidden;

  background: url(../img/bg.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
} */

.wrapper,
.navbar {
  height: 100%;
  display: block;
  border: 0px solid red;
  overflow: hidden;
}
.wrapper {
  position: relative;
  /* overflow: hidden; */
}

.content-wrap {
  width: 80vw;
  border: 0px solid red;
  margin: auto;
}

.imgw {
  width: 100%;
  display: block;
}
.imgh {
  height: 100%;
  display: block;
}
a {
  color: #000;
}
a:hover {
  color: #99cc33;
  text-decoration: none !important;
}

.w-20 {
  width: 20% !important;
}
.w-30 {
  width: 30% !important;
}
.w-35 {
  width: 35% !important;
}
.w-40 {
  width: 40% !important;
}
.w-45 {
  width: 45% !important;
}
.w-60 {
  width: 60% !important;
}
.w-70 {
  width: 70% !important;
}
.w-80 {
  width: 80% !important;
}
.w-85 {
  width: 85% !important;
}
.w-90 {
  width: 90% !important;
}

.h-30 {
  height: 30% !important;
}
.h-40 {
  height: 40% !important;
}
.h-45 {
  height: 45% !important;
}

h1 {
  font-size: 4vw;
}
h2 {
  font-size: 3vw;
}
h3 {
  font-size: 2.2vw;
}
h4 {
  font-size: 1.5vw;
}

.line-height {
  line-height: 1.2em;
}

.b-red {
  border: 1px solid red;
}
.absolute-center {
  left: 0;
  right: 0;
  margin: auto;
}

button:focus,
button:active {
  outline: none !important;
}

.btn-theme {
  background: url(../img/btn-bg-off.png) 0 0 no-repeat;
  background-size: 100% 100%;
  font-family: tenbyfive;
  color: #fff;
  padding: 1rem 0 2rem 0;
  text-align: center;
  font-size: 2.8vw;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.1s ease;
}
.btn-theme:hover {
  background: url(../img/btn-bg-on.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.bestview {
  display: none;
}

/* custom */
.progressbar {
  position: absolute;
  background: url(../img/progressbar/bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
  top: 0;
  right: 0;
  border: 0px solid red;
  padding: 0.1rem 7rem 5rem 2.2rem;
  z-index: 100;
}
.progressbar .flex-row {
  height: 5vh;
}
.progressbar .world {
  border: 0px solid red;
  width: 20%;
}
.progressbar .worldtitle {
  position: absolute;
  top: 30%;
  left: -23%;
  text-shadow: 5px 3px 3px #8ec63f;
  line-height: 1em;
}

.bottom-nav {
  position: absolute;
  bottom: 0;
  font-size: 2vw;
  z-index: 8;
}
.bottom-nav .back {
  background: url(../img/btn-btm-back.png) 0 0 no-repeat;
  background-size: 100% 100%;
  padding-right: 3rem;
  cursor: pointer;
}
.bottom-nav span {
  opacity: 0.5;
}
.bottom-nav .back:hover span,
.bottom-nav .next:hover span {
  opacity: 1;
}
.bottom-nav .next {
  background: url(../img/btn-btm-next.png) 0 0 no-repeat;
  background-size: 100% 100%;
  padding-left: 3rem;
  cursor: pointer;
}

/* popup */
.custom-modal {
}
.custom-modal .modal-dialog {
  min-width: 60.938vw;

  /* width: 100%; */
  margin: auto;

  /* position: fixed; */
  border: 1px solid red;
  height: 100%;
}
.custom-modal .modal-content {
  background-image: url(/img/popup/bg.png);
  background-size: 100% 100%;
  background-color: unset;
  /* min-height: 46.094vw; */
  min-height: 85vh;
  background-position: center;
  background-repeat: no-repeat;
  border: 1px solid #000;
}

.custom-modal .modal-body {
  padding: 0px 6.25vw 1.0417vw;
}

.custom-modal .modal-header {
  border-bottom: 0px solid #000;
}

.custom-modal .modal-header .close {
  background: #323334;
  border-radius: 50%;
  position: absolute;
  right: 0;
  top: 2.604vw;
  width: 4.688vw;
  height: 4.688vw;
  opacity: 1;
  color: #fff;
  font-size: 4.167vw;
  line-height: 1;
  padding: 0;
  background-image: url(../img/popup/btn-popup-close-off.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  transition: all 0.3s ease;
  z-index: 10;
}
.custom-modal .modal-header .close:hover {
  opacity: 1;
  transform: scale(1.05);
}

.custom-modal .modal-header .modal-title {
  color: #000;
  padding: 2.604vw 8.333vw 1.563vw;
  margin: -3.125vw 0 0 -2.604vw;
  /* min-width: 30.99vw; */
  min-width: 28vw;
  min-height: 7.552vw;
  background-image: url(../img/popup/title-bg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 2.8vw;
  font-family: "tenbyfive";
}

.custom-modal#fact_pop .modal-title {
  background-image: url(../img/popup/title-bar-pocket-fact-empty.png);
}

.custom-modal#try_pop .modal-title {
  background-image: url(../img/popup/title-bar-try-this-empty.png);
}

.custom-modal#us_pop .modal-title {
  background-image: url(../img/popup/title-bar-us-anecdotes-empty.png);
}

.custom-modal#virushunter_pop .modal-title {
  background-image: url(../img/popup/title-bar-virus-hunter-empty.png);
}

.custom-modal#career_pop .modal-title {
  background-image: url(../img/popup/title-bar-career-empty.png);
}

.custom-modal .popup-content {
  /* display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; */
  height: 100%;
}

.custom-modal .popup-content img {
  /* max-width: 31.9271vw; */
  /* width: 100%; */
  /* margin-bottom: 0.5208vw; */
  margin: auto;
}
.us-img-big {
  max-width: 35vw;
}

.custom-modal .popup-content .popup-text {
  font-size: 1.5vw;
  text-align: center;
  padding: 0 2vw;
  font-weight: bold;
  line-height: 1.2em;
}

/* pop2 */

.spotlight-pop {
  position: absolute;
  z-index: 999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.spotlight-pop .content {
  position: relative;
  z-index: 1;
}

.spotlight-pop .bg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.8);
}

.spotlight-pop .title {
  padding: 2vw 0;
  background: url(/img/toolsandtechniques/tools-spotlight-title-base.png) center
    center no-repeat;
  background-size: 100% 100%;
  font-size: 2.1vw;
  font-family: "tenbyfive";
  color: #fff;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000,
    4px 5px 0 #000;
  font-family: "tenbyfive";
  text-align: center;
  width: 40%;
}

.spotlight-pop .close {
  position: absolute;
  right: 0;
  top: 0;
  width: 3vw;
  height: 3vw;
  opacity: 1;
  background: url(../img/btn-pop-off.png) center center no-repeat;
  background-size: 100%;
}

/* pop2 */

/* text bubble */

.bubble {
  position: relative;
  /* font-family: sans-serif; */
  font-family: sriracha;
  font-size: 1.15vw;
  min-width: 25.781vw;
  max-width: 26.042vw;
  line-height: 1;
  background: #fff;
  border-radius: 4.167vw;
  padding: 1.8vw 3vw;
  text-align: center;
  color: #000;
}
.bubble-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 2.604vw solid #fff;
  border-left: 0px solid transparent;
  border-top: 0px solid #fff;
  border-bottom: 2.604vw solid transparent;
  left: -2vw;
  top: 2.396vw;
}

.bubble-bottom-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 2.604vw solid #fff;
  border-right: 0px solid transparent;
  border-top: 0px solid #fff;
  border-bottom: 2.604vw solid transparent;
  left: 3.125vw;
  bottom: -2.396vw;
}

.bubble-bottom-right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-right: 2.604vw solid #fff;
  border-left: 0px solid transparent;
  border-top: 0px solid #fff;
  border-bottom: 2.604vw solid transparent;
  right: 3.125vw;
  bottom: -2.396vw;
}
.bubble-bottom-middle:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 2.604vw solid #fff;
  border-right: 0px solid transparent;
  border-top: 0px solid #fff;
  border-bottom: 2.604vw solid transparent;
  left: 11.125vw;
  bottom: -2.396vw;
}

.bubble-top-right:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-bottom: 2.604vw solid #fff;
  border-right: 0px solid transparent;
  border-top: 0px solid #fff;
  border-left: 2.604vw solid transparent;
  right: 3.125vw;
  top: -2.396vw;
}

.bubble-top-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-bottom: 2.604vw solid #fff;
  border-left: 0px solid transparent;
  border-top: 0px solid #fff;
  border-right: 2.604vw solid transparent;
  left: 3.125vw;
  top: -2.396vw;
}

.bubble-bottom-center-left:before {
  content: "";
  width: 0px;
  height: 0px;
  position: absolute;
  border-left: 2.604vw solid #fff;
  border-right: 0px solid transparent;
  border-top: 0px solid #fff;
  border-bottom: 2.604vw solid transparent;
  left: 17.125vw;
  bottom: -2.396vw;
}

/* discover outbreak / right button / spotlight */
.spotlight-btn {
  cursor: pointer;
  width: 17.5521vw;
  height: 19.2708vw;
  background-image: url(../img/pandemics/btn-discover-outbreaks-empty.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
  position: absolute;
  right: 0;
  top: 18vh;
  line-height: 1.2;
  font-size: 2.5vw;
  padding: 0 1.0417vw 0 2.0833vw;
  font-family: "tenbyfive";
  color: #fff;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000,
    4px 5px 0 #000;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 4;
}
.spotlight-btn .view-details {
  margin-top: 2vw;
  font-size: 1.8vw;
}

.spotlight-btn img {
  max-width: 7.9688vw;
  z-index: 4;
}

.footer {
  position: absolute;
  background: url(../../img/landing/sub-logos-bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  bottom: 0;
  right: 2%;
  padding: 2rem 2rem 1rem 2rem;
  font-weight: bold;
}
.btn-done {
  background-image: url(../img/btn-bg-off.png);
  background-size: 100%;
  background-repeat: no-repeat;
  text-align: center;
  display: inline-block;
  margin: 0 auto;
  min-width: 400px;
  min-height: 140px;
  font-size: 50px;
  color: #fff;
  padding: 20px 0;
  font-family: "tenbyfive";
  text-transform: uppercase;
  cursor: pointer;
}

.btn-done:active {
  background-image: url(../img/btn-bg-on.png);
  padding-top: 30px;
}

.try-footer {
  font-family: "tenbyfive";
  font-size: 2.5vw;
}

#correct img {
  width: 8% !important;
  max-width: 31.9271vw;
  margin-bottom: 0.5208vw;
}

#us_pop h4 {
  font-weight: 900;
}

.carousel-control-next,
.carousel-control-prev /*, .carousel-indicators */ {
  filter: invert(100%);
}

@media only screen and (orientation: portrait) {
  .page,
  .custom-modal {
    display: none;
  }
  /* .wrapper {
    display: none;
  } */
  .bestview {
    display: block;
    background: url(/img/bg.jpg) 0 0 repeat-y;
    background-size: cover;
  }
}

@media only screen and (max-height: 480px) {
  .custom-modal .modal-dialog {
    width: 30vw;
  }

  .custom-modal .modal-content {
    /* height: 20vw;
    margin-top: 1%; */
  }
}
