.content-bonus-wrap {
  width: 70vw;
  border: 0px solid red;
  margin: auto;
}

.nav-top {
  z-index: 103;
}

.navbar-toggler {
  z-index: 0;
}

.board {
  background: url(../../img/reward/board.png) center  no-repeat;
  background-size: 90% 90%;
  padding: 6rem 1rem 8rem 1rem;
  position: relative;
  width: 100%;
}

.btn-theme {
  transition: all ease-in-out 0.2s;
  opacity: 1;
  filter: grayscale(0);
}

.btn-theme.btn-disabled {
  opacity: 0.8;
  filter: grayscale(1);
  cursor: no-drop;
}

.btn-theme.btn-disabled:hover {
  background: url(../../img/btn-bg-off.png) 0 0 no-repeat;
  background-size: 100% 100%;
}

.frame-select {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 0px 7vw 15px;
}

.frame-option {
  width: 100%;
  margin: 5px;
  cursor: pointer;
}

.frame {
  background: #fff;
  border: 6px solid #6b9d1f;
  border-radius: 6px;
  width: 100%;
}

.frame img {
  display: block;
  border-radius: 6px;
  border: 6px solid #fff;
}



.frame-checkbox {
  margin: -15px auto 0;
  border: 6px solid #6b9d1f;
  background: #fff;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  position: relative;
}

.frame-checkbox.checked::before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 24px;
  text-align: center;
  content: "\f00c";
  color: #ee2314;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#screenshot {
  background-color: #000;
  border-radius: 5px;
}
.videostream {
  display: block;
  width: 100%;
  position: relative;
  border-radius: 5px;
  overflow: hidden;
}

.videostream video {
  width: 100%;
  display: block;
}

#screenshot-img {
  display: none;
  width: 100%;
}

.photo-case {
  display: flex;
  justify-content: center;
  flex-direction: row;
  max-width: 80%;
  margin: 0 auto;
}

.photo-left {
  flex: 2;
}

.photo-right {
  flex: 1;
}

.screenshot-case {
  max-width: 50vw;
  margin: 0 auto;
  height: 100%;
  
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  background-color: #000;
}

.guide-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background: url(../../img/guide.png) 0 0 no-repeat;
  background-size: auto 100%;
  background-position: center;
}

.final-case {
  display: flex;
  flex-direction: row;
  max-width: 85%;
  margin: 0 auto;
}

.final-left {
  flex: 2;
} 


.final-left-inner {
  background-color: #729e31;
  border-radius: 5px;
  padding: 5px;
}

.final-right {
  flex: 1;
}

.final-img {
  background: #fff;
}

.btn-theme.btn-sm {
  font-size: 1.8vw;
}

.btn-camera-case {
  text-align: center;
  margin: 0px 10px 10px;
  display: none;
}

.btn-camera-case.active {
  display: inline-block;
}


.btn-theme-camera {
  font-family: tenbyfive;
  color: #fff;
  text-align: center;
  font-size: 2.5vw;
  cursor: pointer;
  transition: all 0.1s ease;
  background: #ED2616;
  border-radius: 50%;
  display: flex;
  width: 60px;
  height: 60px;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px #84190F,2px 2px #84190F,3px 3px #84190F,4px 4px #84190F;
}

#start-button {
  display: none;
}

#start-button.active{
  display: block;
}


.btn-theme-camera:active {
  margin: 4px 0 0 4px;
  box-shadow: none;
}


@media all and (max-width: 768px) {
  .btn-theme-camera {
    width: 45px;
    height: 45px;
  }
}

.reward-center {
  display: flex;
  height: 100%;
  align-items: center;
  position: relative;
}

.reward-steps {
  display: none;
  height: 100%;
}

.reward-steps.active {
  display: block;
}

.reward-title {
  text-align: center;
  font-size: 3.5vw;
  color :#fff;
  font-family: tenbyfive;
}

.reward-subtitle {
  text-align: center;
  font-size: 1.8vw;
  font-family: tenbyfive;
}

.photo-action-case {
  background: rgba(107, 157, 31, 0.5);
  padding:  10px;
  border-radius:  0 5px 5px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo-sub-action-case {
  text-align: center;
  display: none;
}

.photo-sub-action-case-inner {

  background: rgba(107, 157, 31, 0.5);
  padding:  10px;
  border-radius:  0 5px 5px 0;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.photo-action-case .btn-theme {
}

.photo-sub-action-case .btn-theme {
}

.ilynas-main {
  position: absolute;
  max-width: 15vw;
  z-index: 1;
  right: -6vw;
  top: 0;
  bottom: -14vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gina-main {
  position: absolute;
  max-width: 18vw;
  z-index: 1;
  left: -9vw;
  top: 0;
  bottom: -17vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.share-desc {
  padding: 10px;
  font-size: 1.5vw;
  font-weight: 700;
}

.booth-case {
  position: absolute;
  width: 100vw;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 102;

  background:#333333;
}

.booth-top {
  height: 100%;
}

.booth-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.final-right .btn-theme{
  font-size: 2vw;
}

@media screen and (max-width:896px) {
  .content-wrap {
    max-width: 60vw ;
  }

  .board {
    padding: 5rem 1rem;
  }

  .ilynas-main {
    max-width: 12vw;
    z-index: 1;
    right: -5vw;
    bottom: 6vh;
  }

  .gina-main {
    max-width: 16vw;
    z-index: 1;
    left: -10vw;
    bottom: 6vh;
  }

  .reward-subtitle {

    font-size: 1.5vw;
  }

  .btn-upload {
    font-size: 2vw;
  }
  .btn-proceed {
    font-size: 2vw;
  }

  .share-desc {

    font-size: 1.3vw;
  }

  .final-right .btn-theme {
    font-size: 1.5vw;
  }

  .frame-checkbox {
    width: 25px;
    height: 25px;
    border: 3px solid #6b9d1f;
    margin: -10px ​auto 0;
  }

  .frame {
    border: 3px solid #6b9d1f;

  }

  .frame-checkbox.checked::before {
    font-size: 14px;
  }
}