.bg {
  background: url(../../img/bg-brown.png) center top no-repeat;
  background-size: 95% 100%;
  border: 0px solid red;
  height: 85vh;
}
.content {
  width: 75%;
}
.desc {
  margin: 3rem 0;
}
.footer {
  position: absolute;
  background: url(../../img/landing/sub-logos-bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
  z-index: 0;
  bottom: 0;
  right: 2%;
  padding: 2rem 2rem 1rem 2rem;
  font-weight: bold;
}

@keyframes key {
  0% {
    background-position: 0px;
  }
  25% {
    background-position: 4290px;
  }
  100% {
    background-position: 4290px;
  }
}

@media only screen and (max-height: 480px) {
  .bg {
    /* background-size: 90% 100%;
    padding: 3rem 0 0 0; */
  }
}
