.bg {
  background: url(../../img/bg-brown.png) center top no-repeat;
  background-size: 100% 90%;
  border: 0px solid red;
  height: 85vh;
}
.content {
  width: 75%;
}
.desc {
  margin: 3rem 0;
}

@keyframes key {
  0% {
    background-position: 0px;
  }
  25% {
    background-position: 4290px;
  }
  100% {
    background-position: 4290px;
  }
}

@media only screen and (max-height: 480px) {
  .bg {
    /* background-size: 90% 100%;
    padding: 3rem 0 0 0; */
  }
}
