body,
html {
  /* background: url(/img/covid/bg-body.jpg) 0 0 repeat-y; */
  background: url(/img/covid/bg.jpg) 0 0 no-repeat !important;
  background-size: 100% 100% !important;
}
/* 
.page-holder {
  background: url(/img/covid/bg.jpg) 0 0 no-repeat !important;
  background-size: 100% 100% !important;
  border: 0px solid red;
} */

.gina {
  bottom: 2.8646vw;
  left: 10vw;
  z-index: 3;
  /* width: 20vw; */
  width: 40vh;
}

.gina img {
  position: relative;
  z-index: 2;
}

.gina .bubble {
  z-index: 1;
  position: absolute;
  /* top: -1.25vw; */
  bottom: 3.75vw;
  left: 15vw;
  min-width: 34.781vw;
  font-size: 1.28vw;
}

.ilyas {
  /* width: 17vw; */
  width: 33vh;
  bottom: 0;
  right: 19.792vw;
  z-index: 3;
}

.ilyas img {
  position: relative;
  z-index: 2;
}

.ilyas .bubble {
  z-index: 1;
  position: absolute;
  /* top: 18.8438vw; */
  /* left: -24.7917vw; */
  top: -3.1562vw;
  left: -28.7917vw;
  min-width: 31.781vw;
  font-size: 1.28vw;
}

/* spotlight */

.spotlight-pop .title {
  padding: 2.0833vw 5.2083vw 2.0833vw 5.2083vw;
  text-align: center;
  background-image: url(../img/covid/covid19-spotlight-title-base.png);
  background-size: 69%;
  background-position: center;
  background-repeat: no-repeat;
  font-size: 2.2917vw;
  font-family: "tenbyfive";
  color: #fff;
  text-shadow: 1px 1px 0 #000, 2px 2px 0 #000, 3px 3px 0 #000, 4px 4px 0 #000,
    4px 5px 0 #000;
  font-family: "tenbyfive";
  width: 100%;
}
.spotlight-pop .modal-desc {
  text-align: center;
  margin: 0 auto;
  font-size: 1.2vw;
  color: #000;
  text-shadow: none !important;
  max-width: 44.7917vw;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}

.spotlight-pop .close {
  top: -8vw;
}

.spotlight-video {
  width: 52.0833vw;
  /* height: 29.3229vw; */
  height: 23.3229vw;
  border: 5px solid #8dc540;
  margin: 0 auto;
}

.man {
  position: absolute;
  width: 18.125vw;
  height: 30.3125vw;
  background: url(../img/covid/moving-shopping-man.png) 0px 0px;
  background-size: 72.5vw;
  animation: play 2s steps(4) infinite;
  bottom: 18vh;
  right: 31.594vw;
}

@keyframes play {
  0% {
    background-position: 0;
  }

  30% {
    background-position: -72.5vw;
  }

  100% {
    background-position: -72.5vw;
  }
}

@media only screen and (max-height: 480px) {
  .man {
    position: absolute;
    width: 14vw;
    height: 23vw;
    background: url(../img/covid/moving-shopping-man.png) 0px 0px;
    background-size: 56vw;
    animation: play 2s steps(4) infinite;
    bottom: 18vh;
    right: 31vw;
    border: 0px solid red;
  }

  @keyframes play {
    0% {
      background-position: 0;
    }

    30% {
      background-position: -56vw;
    }

    100% {
      background-position: -56vw;
    }
  }
}

/* ipad */
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .gina {
    left: 3vw;
  }
  .gina .bubble {
    left: 26vw;
  }

  .ilyas {
    right: 13vw;
  }

  .ilyas .bubble {
    top: 0vw;
    left: -31vw;
  }

  .man {
    position: absolute;
    width: 23vw;
    height: 37vw;
    background: url(../img/covid/moving-shopping-man.png) 0px 0px;
    background-size: 92vw;
    animation: play 2s steps(4) infinite;
    bottom: 18vh;
    right: 31vw;
    border: 0px solid red;
  }

  @keyframes play {
    0% {
      background-position: 0;
    }

    30% {
      background-position: -92vw;
    }

    100% {
      background-position: -92vw;
    }
  }
}
