.content {
  width: 60vw;
  border: 0px solid red;
  margin: auto;
}

.lang {
  position: absolute;
  right: 7vw;
  top: 2vw;
  font-size: 1.8vw;
}
.lang .active {
  color: #99cc33;
}

.bg-radar {
  position: absolute;
  background: url(../../img/landing/bg-radar.png) 0 0 no-repeat;
  background-size: 100% auto;
  z-index: 0;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 60%;
}

.moving-bat {
  width: 6vw;
  position: absolute;
  right: -1vw;
  top: -1vw;
  opacity: 0;
}

.moving-virus {
  width: 4vw;
  position: absolute;
  right: 0;
  bottom: 1vw;
  opacity: 0;
}

.virus {
  position: absolute;
  bottom: 0vw;
  right: 0vw;
  width: 5vw;
  height: 5vw;
  background-image: url("../../img/landing/moving-virus.png");
  background-size: 15vw;
  animation: key-virus 1s steps(3) infinite;
  border: 0px solid red;
  opacity: 0;
}

.bat {
  position: absolute;
  top: -1vw;
  right: -1vw;
  width: 7vw;
  height: 5vw;
  background-image: url("../../img/landing/moving-bat.png");
  background-size: 14vw;
  animation: key-bat 1s steps(2) infinite;
  border: 0px solid red;
  opacity: 0;
}

.header {
  margin: 0 0 0 0;
}

.main {
  margin-top: -7%;
}

.btn-ready {
  margin-top: -8%;
}

@keyframes key-virus {
  from {
    background-position: 0px;
  }
  to {
    background-position: -15vw;
  }
}

@keyframes key-bat {
  from {
    background-position: 0px;
  }
  to {
    background-position: -14vw;
  }
}

@media only screen and (max-height: 480px) {
  /* .bg-radar {
    width: 50%;
  } */
}
