body,
html {
  /* background: url(/img/nipah/bg-body.jpg) 0 0 repeat-y; */
  background: url(/img/nipah/bg.jpg) 0 0 no-repeat !important;
  background-size: 100% 100% !important;
}

/* .page-holder {
  background: url(/img/nipah/bg.jpg) 0 0 no-repeat !important;
  background-size: 100% 100% !important;
  border: 0px solid red;
} */

.gina {
  bottom: 2.8646vw;
  left: 14.0625vw;
  z-index: 3;
  width: 19vw;
}

.gina img {
  position: relative;
  z-index: 2;
}

.gina .bubble {
  z-index: 1;
  position: absolute;
  top: -2.25vw;
  left: 14vw;
}

.ilyas {
  width: 16vw;
  bottom: 0;
  right: 19.792vw;
  z-index: 3;
}

.ilyas img {
  position: relative;
  z-index: 2;
}

.ilyas .bubble {
  z-index: 1;
  position: absolute;
  top: 15.8438vw;
  left: -18.7917vw;
}

/* spotlight */

.spotlight-pop .close {
  top: -6vw;
}

/* tryout */

#try_pop .modal-body {
  padding: 0px 6.25vw 5.0417vw;
}
#try_pop .modal-content {
  background-image: url(../img/popup/bg-lg.png);
}

#try_pop .modal-dialog {
  min-width: 80vw;
}

#try_pop .popup-content {
  margin-top: -2.6042vw;
}

.try-title {
  font-size: 1.6667vw;
  font-weight: 600;
  /* padding: 0 10.4167vw; */
  margin-top: 4vw;
}

.try-body {
  flex-direction: column;
}

.answers {
  display: flex;
  justify-content: space-evenly;
}

.answer {
  position: relative;
  background: #e7f2e9;
  border-radius: 0.5208vw;
  width: 20.5729vw;
  padding: 0.7813vw 1.0417vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 7.8125vw;
  margin-right: 5px;
  margin-bottom: 10px;
}

.answer-title {
  font-weight: bold;
  font-size: 1.3542vw;
}

.answer-desc {
  line-height: 1.2;
  font-size: 1.1458vw;
}

.questions {
  position: relative;
  margin-top: 5%;
}

.questions img {
  margin: 0 auto;
  /* max-width: 25vw !important; */
  width: 20rem !important;

  border: 0px solid red;
}

.question {
  position: absolute;
  border: 3px dotted #339966;
  border-radius: 0.5208vw;
  width: 20.5729vw;
  min-height: 7.8125vw;
}

.question-box {
  background: #e7f2e9;
  border-radius: 0.5208vw;
  padding: 0.7813vw 1.0417vw;
  min-height: 7.8125vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.question-title {
  font-weight: bold;
  font-size: 1.3542vw;
}

.question-desc {
  line-height: 1.2;
  font-size: 1.1458vw;
}

#q3 {
  top: 2.9688vw;
  left: 1.0938vw;
}

#q2 {
  /* top: -1.3542vw; */
  top: -3.3542vw;
  right: 1.0938vw;
}

#q1 {
  bottom: -1.6979vw;
  right: 1.0938vw;
}

.try-footer {
  margin-top: -0.5208vw;
  min-height: 6vw;
}

.cows {
  position: absolute;
  width: 87.5vw;
  height: 22.0313vw;
  background: url(../img/nipah/moving-cows-pigs.png) 0px 0px;
  background-size: 262.5vw;
  animation: play 1.3s steps(3) infinite;
  bottom: 6.2083vw;
  left: 6.594vw;
}

.progressbar .worldtitle {
  top: 19%;
}
@keyframes play {
  100% {
    background-position: -262.5vw;
  }
}

@media only screen and (max-height: 480px) {
}
