.bg {
  background: url(../../img/overview/bg.png) center top no-repeat;
  background-size: 90% 100%;
  padding: 3rem 0 0 0;
  border: 0px solid red;
}

.content {
  width: 50%;
  margin-top: 2rem;
}

.content h1 {
  font-size: 2.8rem;
}
.content h1 span {
  font-size: 150%;
}
.bar {
  width: 100%;
  margin-bottom: -4rem;
}

.overview-bubble {
  background: url(../../img/overview/bubble-talk.png) center top no-repeat;
  background-size: 100% 100%;
  padding: 1rem 1.5rem 2.5rem 1.5rem;
  text-align: center;
  position: absolute;
  /* top: -4.5rem;
  right: -3%; */
  font-weight: bold;
  top: -9vh;
  right: -2vw;
  min-height: 13vh;
  min-width: 10vh;
}
.ladybird {
  position: absolute;
  top: -2.5vw;
  left: 1vw;
  width: 18vw;
  height: 7vw;
  animation: key 5s steps(10) infinite;
  animation-delay: 4s;
  border: 0px solid red;
}
@keyframes key {
  0% {
    background-position: 0px;
  }

  25% {
    background-position: 180vw;
  }

  100% {
    background-position: 180vw;
  }
}

@media only screen and (max-height: 480px) {
  .bg {
    background-size: 90% 100%;
    padding: 3rem 0 0 0;
  }
  .content {
    width: 60%;
    margin-top: 3rem;
  }
  .bar {
    width: 100%;
    margin-bottom: -3rem;
  }

  /* .ladybird {
    top: -10.5rem;
    left: -19rem;
    transform: scale(0.3);
  } */
  .overview-bubble {
    padding: 1rem 1rem 2rem 1rem;
    top: -4.7rem;
    right: -3%;
  }
}
