body {
  background: url(../../img/toolsandtechniques/bg.jpg) 0 0 no-repeat;
  background-size: 100% 100%;
}
.progressbar .worldtitle {
  top: 10%;
}

.lab-furniture {
  position: absolute;
  width: 50vw;
  height: 49.2vw;
  background: url(../img/toolsandtechniques/moving-lab-table.png) 0px 0px;
  background-size: 150vw;
  animation: play 1s steps(3) infinite;
  bottom: -1vw;
  left: 25vw;
  border: 0px solid red;
}

/* characters */
.ilyas {
  bottom: -2.1354vw;
  left: 5vw;
  z-index: 3;
  width: 20vw;
}

.ilyas img {
  position: relative;
  z-index: 2;
}

.ilyas .bubble {
  z-index: 1;
  position: absolute;
  top: -8.25vw;
  left: 11.1875vw;
  min-width: 30.4375vw;
}

.gina {
  width: 25vw;
  bottom: 0;
  right: 5vw;
  z-index: 3;
}

.gina img {
  position: relative;
  z-index: 2;
}

.gina .bubble {
  z-index: 1;
  position: absolute;
  top: 19.8438vw;
  left: -22.7917vw;
}
/* characters */

.spotlight-pop .close {
  top: -8vw;
}

/* try out */

.try-title {
  font-size: 1.6667vw;
    font-weight: 600;
}

.question {
  position: relative;
  border: 2px dotted #339966;
  border-radius: 5px;

}

.question img {
  opacity: 0;
  margin-bottom: 0 !important;
}


.question .step {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
  color: #339966;
  font-weight: bold;
}

.feedback {
  font-family: tenbyfive;
  font-size: 2.5vw;
}

.feedback .star {
  width: 8% !important;
}

@keyframes play {
  100% {
    background-position: -150vw;
  }
}

@media only screen and (max-height: 480px) {
}
