body,
html {
  /* background: url(/img/toolsandtechniques/bg-body.jpg) 0 0 repeat-y; */
  background: url(/img/toolsandtechniques/bg.jpg) 0 0 no-repeat !important;
  background-size: 100% 100% !important;
}

/* .page-holder {
  background: url(/img/toolsandtechniques/bg.jpg) 0 0 no-repeat !important;
  background-size: 100% 100% !important;
  border: 0px solid red;
} */

.progressbar .worldtitle {
  top: 10%;
}

.lab-furniture {
  position: absolute;
  width: 50vw;
  height: 49.2vw;
  background: url(../img/toolsandtechniques/moving-lab-table.png) 0px 0px;
  background-size: 150vw;
  animation: play 1s steps(3) infinite;
  bottom: -1vw;
  left: 25vw;
  border: 0px solid red;
}
.spotlight-pop img {
  width: 80%;
  margin: auto;
}

/* characters */
.ilyas {
  bottom: -2.1354vw;
  /* left: 5vw; */
  left: 3%;
  z-index: 3;
  /* width: 17vw; */
  width: 33vh;
}

.ilyas img {
  position: relative;
  z-index: 2;
}

.ilyas .bubble {
  z-index: 1;
  position: absolute;
  top: 0vw;
  left: 100%;
  min-width: 30.4375vw;
}

.gina {
  /* width: 20vw; */
  width: 40vh;
  bottom: 2vw;
  /* right: 16vw; */
  right: 12vw;
  z-index: 3;
}

.gina img {
  position: relative;
  z-index: 2;
}

.gina .bubble {
  z-index: 1;
  position: absolute;
  top: 50%;
  /* left: -24vw; */
  right: 100%;
}
/* characters */

.spotlight-pop .close {
  top: -8vw;
}

/* try out */

.try-title {
  font-size: 1.6667vw;
  font-weight: 600;
}

.question {
  position: relative;
  border: 2px dotted #339966;
  border-radius: 5px;
}

.question img {
  opacity: 0;
  margin-bottom: 0 !important;
}

.question .step {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
  color: #339966;
  font-weight: bold;
}

.feedback {
  font-family: tenbyfive;
  font-size: 2.5vw;
}

.feedback .star {
  width: 8% !important;
}

@keyframes play {
  100% {
    background-position: -150vw;
  }
}

.pop-model-content .modal-content {
  width: 120vh;
}

@media only screen and (max-height: 480px) {
}

/* ipad */
/* @media (min-width: 768px) {
  .ilyas {
    left: 3vw;
  }

  .ilyas .bubble {
    left: 25vw;
  }

  .gina .bubble {
    top: 27vw;
    left: -23vw;
  }

  .gina {
    right: 10vw;
  }
} */
