body,
html {
  /* background: url(/img/vaccines/bg-body.jpg) 0 0 repeat-y; */
  background: url(/img/vaccines/bg.jpg) 0 0 no-repeat !important;
  background-size: 100% 100% !important;
}

/* .page-holder {
  background: url(/img/vaccines/bg.jpg) 0 0 no-repeat !important;
  background-size: 100% 100% !important;
  border: 0px solid red;
} */

.gina {
  bottom: 0.8646vw;
  left: 3.0625vw;
  z-index: 3;
  /* width: 20vw; */
  width: 42vh;
}

.gina img {
  position: relative;
  z-index: 2;
}

.gina .bubble {
  z-index: 1;
  position: absolute;
  top: -7.25vw;
  left: 15.1875vw;
  min-width: 31.781vw;
  font-size: 1.28vw;
}

.ilyas {
  /* width: 16vw; */
  width: 33vh;
  bottom: 1.7708vw;
  right: 21vw;
  z-index: 3;
}

.ilyas img {
  position: relative;
  z-index: 2;
}

.ilyas .bubble {
  z-index: 1;
  position: absolute;
  top: 18.8438vw;
  left: -24.7917vw;
  min-width: 31.781vw;
  font-size: 1.28vw;
}

/* spotlight */

.spotlight-pop .close {
  top: -6.5104vw;
}

/* tryout */
#try_pop .modal-body {
  padding: 0px 6.25vw 5.0417vw;
}
#try_pop .modal-content {
  background-image: url(../img/popup/bg-lg.png);
}

#try_pop .modal-dialog {
  min-width: 70vw;
}

#try_pop .popup-content {
  margin-top: -2.6042vw;
}

.try-title {
  font-size: 1.9792vw;
  font-weight: 600;
  padding: 0 10.4167vw;
  margin: 10px 0 0 0;
}

.questions {
  justify-content: space-between;
}

.answers {
  justify-content: space-between;
}

.answer {
  max-width: 10.4167vw;
  margin: 5px;
}

.question {
  max-width: 10.4167vw;
  margin: 5px;
  position: relative;
}

.question-box {
  position: relative;
  border: 2px dotted #339966;
  border-radius: 5px;
}

.question img {
  opacity: 0;
  margin-bottom: 0 !important;
}

.question .step {
  width: 100%;
  text-align: center;
  color: #fff;
  background: #278a73;
  font-weight: bold;
  border-radius: 10px;
  padding: 5px 0;
  margin-bottom: 5px;
}

.feedback {
  font-family: tenbyfive;
  font-size: 2.5vw;
}

.feedback .star {
  width: 8% !important;
}

.try-body {
  max-width: 48.8646vw;
  margin: 0 auto;
}

.feedback {
  min-height: 5vw;
}

.boy {
  position: absolute;
  width: 7vw;
  height: 14.3vw;
  background: url(../img/vaccines/moving-boy.png) 0px 0px;
  background-size: 14vw;
  animation: play 3s steps(2) infinite;
  bottom: 20%;
  right: 14vw;
  border: 0px solid red;
}

@keyframes play {
  100% {
    background-position: -14vw;
  }
}

.doctor {
  position: absolute;
  width: 40vw;
  height: 27.3vw;
  background: url(../img/vaccines/moving-doctor-boy.png) 0px 0px;
  background-size: 160vw;
  animation: play-doctor 4s steps(4) infinite;
  bottom: 18%;
  left: 0;
  border: 0px solid red;
}

@keyframes play-doctor {
  0% {
    background-position: -160vw;
  }

  100% {
    background-position: 0;
  }
}

@media only screen and (max-height: 480px) {
}
