/* progress bar */
.progressbar {
  position: absolute;
  background: url(../img/progressbar/bg.png) 0 0 no-repeat;
  background-size: 100% 100%;
  top: 0;
  right: 0;
  border: 0px solid red;
  padding: 0.1rem 7rem 5rem 2.2rem;
}
.progressbar .flex-row {
  height: 5vh;
}
.progressbar .world {
  border: 0px solid red;
  width: 20%;
}
.progressbar .worldtitle {
  position: absolute;
  top: 30%;
  left: -23%;
  text-shadow: 5px 3px 3px #8ec63f;
}

/* left icon */
