body,
html {
  /* background: url(../img/zoonotic/bg-body.jpg) 0 0 repeat-y; */
  background: url(../../img/zoonotic/bg.jpg) 0 0 no-repeat !important;
  background-size: 100% 100% !important;
}
/* 
.page-holder {
  background: url(../../img/zoonotic/bg.jpg) 0 0 no-repeat !important;
  background-size: 100% 100% !important;
  border: 0px solid red;
} */

.progressbar .worldtitle {
  top: 10%;
}

.gina {
  bottom: 2.8646vw;
  /* left: 14.0625vw; */
  left: 4%;
  z-index: 3;
  /* width: 20vw; */
  width: 40vh;
}

.gina img {
  position: relative;
  z-index: 2;
}

.gina .bubble {
  z-index: 1;
  position: absolute;
  bottom: 5%;
  /* left: 15.1875vw; */
  left: 100%;
}

.ilyas {
  /* width: 17vw; */
  width: 33vh;
  bottom: 0;
  /* right: 19.792vw; */
  right: 19%;
  z-index: 3;
}

.ilyas img {
  position: relative;
  z-index: 2;
}

.ilyas .bubble {
  z-index: 1;
  position: absolute;
  /* top: 13.4583vw;
  left: -21.875vw; */
  top: 0;
  right: 110%;
  border: 0px solid red;
}

/* spotlight */
.spotlight-pop .close {
  top: -7vw;
}
.spotlight-pop .title {
  background: url(/img/zoonotic/title-base.png) center center no-repeat;
  background-size: 100% auto;
  /* width: 100%; */
  /* max-width: 600px; */
  width: 50vw;
  /* margin-top: 5%; */
}
.spotlight-pop img {
  width: 90%;
  margin: auto;
}

/* tryout */
#try_pop .selectable {
  border: 4px solid #fff;
  border-radius: 10px;
  margin: 2px;
  height: 100%;
}

#try_pop .selectable.selected {
  border: 2px solid #258c6f;
}

#try_pop .selectable img {
  margin: 0;
  display: block;
}

#try_pop .modal-content {
  background-image: url(../img/popup/bg-lg.png);
}

#try_pop .modal-dialog {
  min-width: 80vw;
}

.try-title {
  font-size: 1.9792vw;
  font-weight: 600;
  /* padding: 0 10.4167vw; */
}

.try-body {
  justify-content: space-between;
  /* padding: 0 3.125vw; */
  padding-left: 1vw;
}

.bat-1 {
  position: absolute;
  width: 9.6354vw;
  height: 4.0104vw;
  background: url(../img/zoonotic/moving-bat1.png) 0px 0px;
  background-size: 19.2708vw;
  animation: playBat1 0.3s steps(2) infinite;
  top: 16.2083vw;
  left: 13.594vw;
}

.bat-2 {
  position: absolute;
  width: 7.5vw;
  height: 4.375vw;
  background: url(../img/zoonotic/moving-bat2.png) 0px 0px;
  background-size: 15vw;
  animation: playBat2 0.3s steps(2) infinite;
  top: 7.2083vw;
  left: 27.594vw;
}

.bat-3 {
  position: absolute;
  width: 8.8021vw;
  height: 4.7396vw;
  background: url(../img/zoonotic/moving-bat3.png) 0px 0px;
  background-size: 17.6042vw;
  animation: playBat3 0.3s steps(2) infinite;
  top: 8.2083vw;
  left: 43.594vw;
}

.bat-4 {
  position: absolute;
  width: 7.1354vw;
  height: 4.375vw;
  background: url(../img/zoonotic/moving-bat4.png) 0px 0px;
  background-size: 14.2708vw;
  animation: playBat4 0.3s steps(2) infinite;
  top: 25.2083vw;
  left: 37.594vw;
}

.bat-5 {
  position: absolute;
  width: 9.8438vw;
  height: 3.4896vw;
  background: url(../img/zoonotic/moving-bat5.png) 0px 0px;
  background-size: 19.6875vw;
  animation: playBat5 0.3s steps(2) infinite;
  top: 23.2083vw;
  left: 51.594vw;
}

.bird-1 {
  position: absolute;
  width: 7.1354vw;
  height: 6.875vw;
  background: url(../img/zoonotic/moving-bird1.png) 0px 0px;
  background-size: 14.2708vw;
  animation: playBird1 0.3s steps(2) infinite;
  top: 23.2083vw;
  right: 18.594vw;
}

.bird-2 {
  position: absolute;
  width: 8.2813vw;
  height: 6.6667vw;
  background: url(../img/zoonotic/moving-bird2.png) 0px 0px;
  background-size: 16.5625vw;
  animation: playBird2 0.3s steps(2) infinite;
  top: 10.2083vw;
  right: 19.594vw;
}
.feedback {
  height: 60px;
}

@keyframes playBat1 {
  100% {
    background-position: -19.2708vw;
  }
}

@keyframes playBat2 {
  100% {
    background-position: -15vw;
  }
}

@keyframes playBat3 {
  100% {
    background-position: -17.6042vw;
  }
}

@keyframes playBat4 {
  100% {
    background-position: -14.2708vw;
  }
}

@keyframes playBat5 {
  100% {
    background-position: -19.6875vw;
  }
}

@keyframes playBird1 {
  100% {
    background-position: -14.2708vw;
  }
}

@keyframes playBird2 {
  100% {
    background-position: -16.5625vw;
  }
}

@media only screen and (max-height: 480px) {
  .pop-model-content .modal-content {
    width: 140vh;
  }

  .feedback {
    height: 30px;
  }
}

/* ipad */
/* @media (min-width: 768px) {
  .gina {
    left: 3vw;
  }
  .gina .bubble {
    left: 26vw;
  }

  .ilyas {
    right: 13vw;
  }

  .ilyas .bubble {
    top: 25vw;
  }
} */
